<div class="jumbotron">
    <h1 class="display-3">{{name}}</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>

<div class="row">
      <div class="col-lg-12" *ngFor="let product of products">
        <h4>{{product.title}}</h4>
        <h5>{{product.price}}</h5>
        <p>{{product.description}}</p>
        <p>THIS IS A TESST</p>
      </div>
</div>
